/* CSS RESET */
* {
    margin: 0%;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
}

/* CSS VARIABLES */
:root {
    --navbar-height: 60px;
}

/* Navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: rgb(17 16 16);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}

/*  Navigation bar : Image & Logo */
#logo img {
    height: 60px;
    width: 60px;
    /* border: 0.5px solid black; */
    border-radius: 30px;
    zoom: 1.1;
}

#logo {
    margin: 8px 28px;
}

/*  Navigation bar : List styling */
/* #navbar{
    transition: background .2s ease,box-shadow .2s ease;
} */

#navbar ul {
    display: flex;
    font-family: 'Nunito', sans-serif;
}


#navbar ul li {
    list-style: none;
    font-size: 1.4rem;
}

#navbar ul li a {
    /* color: #075430; */
    color: white;
    display: block;
    text-decoration: none;
    padding: 4px 21px;
    border-radius: 20px;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}



/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 29px 185px;
    height: 390px;
    /* height: 95%; */
}

#home::before {
    content: "";
    position: absolute;
    background: url(https://media.istockphoto.com/photos/delicious-meal-on-a-black-plate-top-view-copy-space-picture-id1165399909?k=20&m=1165399909&s=612x612&w=0&h=5g5C4BDoxaejlIr4r_8cV6jDYXzN8n1-JkIW3LgPUuA=) no-repeat center center/cover;
    height: 529px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    top: 0px;
    left: 0px;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.9rem;
    padding: 4px;
    font-family: 'Ubuntu', sans-serif;

}

.btn:hover{
    background-color: #8b6737;
}

/* Services Section */
#services{
    display: flex;
    margin: 40px;
}

#services-container{ 
    position: relative;
    /* top: 200px; */
} 

#services .box{
    border: 2px solid brown;
    height: 323px;
    width: 430px;
    padding: 38px;
    margin: 3px 6px;
    border-radius: 10px;
    background-color:  rgb(241 236 236);
    position: relative;
    z-index: -10;

}

#services .box img{
    height: 150px;
    display: block;
    margin: auto;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#services p{
    font-family: 'Nunito', sans-serif;
}

/* Client section */
#client-section{
    height: 350px;
    position: relative;  /* relative se utni hi jagah lega jitni chahiye */
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 18px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url(../images/bg-image.jpg) no-repeat center center/cover;
    z-index: -1;
    opacity: 0.4;
    height: 92%;
    width: 100%;
}

#clients img{
    display: inline-block;
    height: 114px;
    width: 200px;
    position: relative;
    z-index: -10;
}

#clients img:nth-child(1){
    filter: invert(100%);
}


/* Contact section */
#contact{
    position: relative;
    z-index: -10;
}
#contact::before{
    content: "";
    position: absolute;
    background: url(../images/contact-bg.png) no-repeat center center/cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
#contact-box textarea{
    width: 88%;
    padding: 0.5rem;
    border-radius: 10px;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
}

#contact-box input{
    border-radius: 5px;
    padding: 5px;
}



footer{
    background-color: rgb(102, 100, 100);
    color: white;
    padding: 22px 180px;
    height: 40px;
}

/* Utility Class */
.h-primary{
    font-size: 3rem;
    padding: 17px;
    font-family: 'Ubuntu', sans-serif;
}

.h-secondary{
    font-size: 1.8rem;
    padding: 17px;
    font-family: 'Ubuntu', sans-serif;
}

.btn{
    padding: 5px 15px;
    margin: 14px;
    font-size: 1.3rem;
    border: 2px solid white;
    background: #857a7a;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
}
.center{
    text-align: center;
}